RewriteEngine On

# Global
RewriteRule ^admin$ admin.php
RewriteRule ^home$ index.php
RewriteRule ^login$ login.php
RewriteRule ^logout$ controller/user/UserMainController.php?logout=1

# --------------------- View ----------------------------

# Service Réalisation
RewriteRule ^listeServiceRea$ view/pages/admin/serviceRea/liste.php

# Contact
RewriteRule ^listeContact$ view/pages/admin/contact/liste.php

# User
RewriteRule ^listeUser$ view/pages/admin/user/liste.php

# Profil
RewriteRule ^profil$ view/pages/admin/profil/profil.php

# ------------------- Controller -----------------------
RewriteRule userMainController$ controller/user/UserMainController.php
RewriteRule contactMainController$ controller/contact/ContactMainController.php
RewriteRule newsletterMainController$ controller/newsletter/NewsletterMainController.php
RewriteRule serviceReaMainController$ controller/serviceRea/ServiceReaMainController.php

# ------------------- Model -----------------------
RewriteRule userRepo$ model/UserRepository.php
RewriteRule contactRepo$ model/ContactRepository.php
RewriteRule newsletterRepo$ model/NewsletterRepository.php
RewriteRule serviceReaRepo$ model/ServiceReaRepository.php